body{
  margin: 0;
  overflow: hidden;
  top: 0;
}

@font-face {
 font-family: 'Rage Italic';
 src: url('/fonts/rage-italic.ttf') format("truetype");

}

@font-face {
 font-family: 'Qualy Bold';
/* src: url('/fonts/Qualy Bold.ttf') format("truetype");*/
font-weight: normal;
font-style: normal;
}

.logobt{
  display: block;
  margin: auto;
  z-index: 10100;
  width: 4em;
}

.logobt:hover{
  filter: invert(100%);
  transition: 0.5s;
}

.logoms {
  width: 5em;
  text-align: center !important;
}



#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 77px;
  transition: all 0.5s;
}

#header #logo {
 /* position: absolute;*/
 z-index: 9 !important;
}


.cb{
  position: relative;


}

#carousel .coverbutton {
  position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%, 350px);
  font-family: 'Qualy Bold';
  font-size: 34px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  color: white;
  z-index: 1001;
    transition: 0.5s;
  padding: 10px;
  background-color: #2c2c2c;
  border: none;
}

#carousel .coverbutton:hover{
  color: black;
  background-color: white;
  border: none;
}

@media only screen and (min-height: 800px) and (max-width: 1080px){

  #carousel .coverbutton {
    transform: translate(-50%, 600px);
  }

}

@media only screen and (min-height: 600px) and (max-width: 799px){

  #carousel .coverbutton {
    transform: translate(-50%, 400px);
  }
}

@media (max-height: 599px){

  #carousel .coverbutton {
    transform: translate(-50%, 250px);
  }


}



#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #2c2c2c;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

#logo {
  text-align: center !important;
}





@media (min-width: 1200px) {   /*desktop*/
  .wh-img {
    width: 100% !important;
  }

  .logobt{
    top: 30%;
  }


}

@media (max-width: 1199px) {   /*desktop*/
  .logobt{
    top: 22%;
  }

}



@media (max-width: 768px) { /*tablets*/


  #header #logo h1 {
    font-size: 28px;
  }
}


