body{
  margin: 0;
  overflow: hidden;
  top: 0;
}


@font-face {
 font-family: 'Qualy Bold';
 src: url('/fonts/Qualy Bold.ttf') format("truetype");
 font-weight: normal;
 font-style: normal;

}

.wh-img {
 width:100vw;
 height:100vh;
 background-position: center center;
 background-size: cover;
 margin: 0px;
 padding: 0px;
}

@font-face {
 font-family: 'Rage Italic';
 src: url('/fonts/rage-italic.ttf') format("truetype");

}


.logobt{
  display: block;
  margin: auto;
  z-index: 1000;
  width: 10em;
}

.logobt:hover{
  filter: invert(100%);
  transition: 0.5s;
}

.logoms {
  width: 5em;
  text-align: center !important;
}

#header {
  padding: 5px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 1001;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 77px;
  transition: all 0.5s;
}

#header #logo {
 /* position: absolute;*/
 z-index: 1002 !important;
}

.cb{
  position: relative;
  text-align: center;
}




#carousel .coverbutton {

  font-family: "Qualy Bold", sans-serif;
  font-size: 1.2rem;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  color: #2c2c2c;
  height: 2.7rem;
  z-index: 1004;
  transition: 1.0s;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 25rem;
}

#carousel .coverbutton:hover{
  color: white;
  background-color: #2c2c2c;
  border: none;
}

.footer{
  height: 100vh;
  width: 100%;
  z-index: 1005;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,85%);
  background: rgba(0, 0, 0, 0.5);
}


.social-links{

}


.social-links a{
    font-size: 18px;
  display: inline-block;
  background: ;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links a:hover{
filter: invert(50%);
}

.centrando{
  height: 100vh;
  z-index: 1003;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/*CSS responsive*/



@media (orientation: portrait) {
.centrando{
  top: 50%;
  left: 50%;
  transform: translate(-50%, 35%);


}

.footer{

   transform: translate(-50%, 84%);
}


   @media only screen and (min-width: 300px) and (max-width: 340px){

 #carousel .coverbutton {
  font-size: 0.7rem;
  padding: 0px 10px;

 }


 .centrando h3{
  font-size:0.9rem;
 }

    .footer{
 font-size:0.8rem;
   transform: translate(-50%, 68%);
}
   }
  @media only screen and (min-width: 341px) and (max-width: 380px){

    .footer{

   transform: translate(-50%, 74%);
}

  }
  @media only screen and (min-width: 380px) and (max-width: 420px){
   .footer{

   transform: translate(-50%, 78%);
}

  }
  @media only screen and (min-width: 420px) and (max-width: 460px){
        .footer{
   transform: translate(-50%, 80%);
}
  }


  @media only screen and (min-width: 460px) and (max-width: 500px){

    .footer{
   transform: translate(-50%, 82%);
}
  }




}
