#navbarSupportedContent {
	z-index: 10000;
	background-color: black;
}

#nav-menu .menu-logo{
	width: 4em;
}

#nav-menu .bg-dark{
	background-color: black !important;
}

#nav-menu .menu-logo-center{
	position: absolute;
	left: 45%;

}
#nav-menu .navbar{
		height: 7rem
}


#nav-menu #right-menu a {
	padding-right: 0px
}

#nav-menu #right-menu a:hover {
	font-weight: bold;
}

#nav-menu #left-menu{
	font-family: 'Qualy Bold', sans-serif;
	text-transform: capitalize;
}

#nav-menu #left-menu a:hover {
	color: white;
}

/*active */
#nav-menu .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: white;
}

@media (min-width: 3996px) {
	#nav-menu #right-menu{
		font-size: 3rem;
	}
	#nav-menu #left-menu{
		font-size: 3rem;
	}
	#nav-menu .menu-logo{
		font-size: 3rem;

	}

	#nav-menu{
		margin-top: 3.5rem
	}
}


@media only screen and (min-width: 3200px) and (max-width: 3966px){
	#nav-menu #right-menu{
		font-size: 3rem;
	}
	#nav-menu #left-menu{
		font-size: 3rem;
	}
	#nav-menu .menu-logo{
		font-size: 3rem;

	}

	#nav-menu{
		margin-top: 3.5rem
	}

}

@media only screen and (min-width: 2304px) and (max-width: 3200px){

	#nav-menu #right-menu{
		font-size: 2rem;
	}
	#nav-menu #left-menu{
		font-size: 2rem;
	}
	#nav-menu .menu-logo{
		font-size: 2rem;

	}

	#nav-menu{
		margin-top: 2.5rem
	}

}

@media only screen and (min-width: 1984px) and (max-width: 2304px){

		#nav-menu #right-menu{
		font-size: 2rem;
	}
	#nav-menu #left-menu{
		font-size: 2rem;
	}
	#nav-menu .menu-logo{
		font-size: 2rem;

	}

	#nav-menu{
		margin-top: 2.5rem
	}

}


@media only screen and (min-width: 1760px) and (max-width: 1984px){
		#nav-menu #right-menu{
		font-size: 1.5rem;
	}
	#nav-menu #left-menu{
		font-size: 1.5em;
	}
	#nav-menu .menu-logo{
		font-size: 1.5rem;

	}

	#nav-menu{
		margin-top: 2.5rem
	}

}

@media only screen and (min-width: 1500px) and (max-width: 1760px){
		#nav-menu #right-menu{
		font-size: 1.3rem;
	}
	#nav-menu #left-menu{
		font-size: 1.3em;
	}
	#nav-menu .menu-logo{
		font-size: 1.3rem;

	}

	#nav-menu{
		margin-top: 2rem
	}


}

@media only screen and (min-width: 1340px) and (max-width: 1500px){

			#nav-menu #right-menu{
		font-size: 1.1rem;
	}
	#nav-menu #left-menu{
		font-size: 1.1em;
	}
	#nav-menu .menu-logo{
		font-size: 1.1rem;

	}

	#nav-menu{
		margin-top: 2rem
	}

}


@media only screen and (min-width: 1152px) and (max-width: 1340px){


}


@media (min-width:992px){
	#nav-menu .menu-logo-up {
		display: none !important;
	}
}

@media (max-width: 991px){
	#nav-menu .menu-logo-center{
		display: none
	}


}