.menu-logo{
	width: 4em;
}

.bg-dark{
	background-color: black !important;
}

.menu-logo-center{
	position: absolute;
	left: 45%;

}
.navbar{
		height: 7rem
}



@media (min-width:992px){
	.menu-logo-up {
		display: none !important;
	}
}

@media (max-width: 991px){
	.menu-logo-center{
		display: none
	}

}