

#portafolio {
  padding-bottom: 20px !important;
}

#portafolio .card {
  background-color: transparent;
  border: none;
  margin: auto;
}

#portafolio .row .col {
/**/
display: flex;
justify-content: center center;
align-items: center;
/**/
background-repeat: no-repeat;
background-size: fixed;
background-position: center ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
border-radius: 0;
background-color: transparent;
border: none;
margin: -3px 5px;
width: 100%;
transition: all 0.8s;
}
#portafolio .row .col:hover {
  filter:brightness(0.6);
  transition: all 0.8s;
}

#portafolio .row {
  margin: auto;
}

.card-img-overlay {
  position: initial;
}


.card-title {

  color: white;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  filter: brightness(1.0);
}

.card-title:hover{
  opacity: 1;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.container{
  margin-top: 2rem;
  max-width: 100%;
}

.fa-bars{
  font-size: 3rem;
  margin-top: 25%;

}

.toggle-logo img {
  width: 10rem;

}

.toggle-logo {
  display: none;
}

.link-secondary {
  padding-left: 0;
}


.col-4 a:hover{
  filter: invert(50%);
}

.g-4, .gx-4 {
  --bs-gutter-x: 1rem;
}


@media (min-width: 3200px) {
 #portafolio .row .col{
  width:  17rem;
  height: 17rem;
}


}


@media only screen and (min-width: 3200px) and (max-width: 3966px){
 #portafolio .row .col{
  width:  60rem;
  height: 60rem;
}

}

@media only screen and (min-width: 2304px) and (max-width: 3200px){
 #portafolio .row .col{
  width:  39rem;
  height: 39rem;
}

}

@media only screen and (min-width: 1984px) and (max-width: 2304px){
 #portafolio .row .col{
  width:  32rem;
  height: 32rem;
}
}

@media only screen and (min-width: 1760px) and (max-width: 1984px){

   #portafolio .row .col{
  width:  29rem;
  height: 29rem;
}


}


@media only screen and (min-width: 1500px) and (max-width: 1760px){
   #portafolio .row .col{
  width:  24rem;
  height: 24rem;
}

}


@media only screen and (min-width: 1340px) and (max-width: 1500px){

  #portafolio .row .col{
  width:  21rem;
  height: 21rem;
}


}

@media only screen and (min-width: 1152px) and (max-width: 1340px){

    #portafolio .row .col{
  width:  19rem;
  height: 19rem;
}

}




@media (max-width:1080px){
  .card-title{
    opacity: 1
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1152px){
 #portafolio .row .col{
  width: 15rem;
  height: 15em;
}
}

@media only screen and (min-width: 920px) and (max-width: 999px){
 #portafolio .row .col{
  width: 15rem;
  height: 15rem;
}
}

@media only screen and (min-width: 870px) and (max-width: 919px){
 #portafolio .row .col{
  width: 13rem;
  height: 13rem;
}
}

@media only screen and (min-width: 768px) and (max-width: 869px){
 #portafolio .row .col{
  width: 11rem;
  height: 11rem;
}


}

@media only screen and (min-width: 400px) and (max-width: 767px){
 #portafolio .row .col{
  width: 95%;
  height: 400px;
  max-height:  700px;
}
}

@media (max-width: 768px){
  .toggle-logo{
    display: block;
  }

  #portfolio-button{
    box-sizing: unset;
    width: 100%
  }
}

@media only screen and (min-width: 321px) and (max-width: 400px){
 #portafolio .row .col{

  width: 95%;
  height: 321px;
}

#portafolio{
  padding-left: 0px;
}
}


@media only screen and (max-width: 321px){
 #portafolio .row .col{
  width: 95%;
  height: 200px;

}
#portafolio{
  padding-left: 0px;
}
}
/*!!!!!!!!!!!!!!!!!!1*/

@media only screen and (min-width: 1280px){
#portafolio .row .col{
  width: 19rem !important;
  height: 19rem !important;
}
/*!!!!!!!!!!!!!!!!*/