/* portfolio CSS */
body{
	margin: 0;

	top: 0;
}



#proyecto .hoja{
background-size: cover !important;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
}


#proyecto .col-md-5, #proyecto .col-md-7 {
	box-shadow: initial;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	z-index: 100000;
}

#proyecto .col-md-7 {


}

#proyecto .col-md-7 p {



}

#proyecto .col-md-7  h2 {


}

#proyecto .cover{
	font-size: 1.2rem;
	text-align: left;
	padding: 12% 17% 15% 2%;
	line-height: 0.9
}

#proyecto .programa {
	font-size: 1.2rem;
	text-align: justify;
	padding: 8% 17% 15% 2%;
	line-height: 0.9;
}


.logobt{
	display: block;
	margin: auto;
	z-index: 10100;
	width: 4em;
}

.logobt:hover{
	filter: invert(100%);
	transition: 0.5s;
}


#proyecto #header {
	padding: 30px 0;
	height: 92px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997;
}

#proyecto #header .header-scrolled {
	background: rgba(0, 0, 0, 0.9);
	padding: 20px 0;
	height: 77px;
	transition: all 0.5s;
}

#proyecto #header #logo {
	/* position: absolute;*/
	z-index: 9 !important;
}


#proyecto #header #logo h1 a,
#proyecto #header #logo h1 a:hover {
	color: #fff;
	padding-left: 10px;
	border-left: 4px solid #2c2c2c;
}

#proyecto #header #logo img {
	padding: 0;
	margin: 0;
}

#proyecto #logo {
	text-align: center !important;
	display: flex;
}

#proyecto .leftarrow{
	display: inline-block;
	font-size: 3rem ;

}

#proyecto .botones {
	display: inline-flex;
	margin: 1rem 1rem 1rem 2rem;
}

#proyecto .botones h6 {
	padding: 0 5px;
	font-size: 0.9rem;
}

#proyecto .botones h6:hover {
	cursor: pointer;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
	width: 2.5rem;
	height: 2.5rem;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}



/*responsive CSS Querys*/


@media (min-width: 3200px) {

	#proyecto .leftarrow{
		font-size: 7rem
	}

	#proyecto .botones a h6{
		font-size: 3rem;
	}

	#proyecto .cover{
		font-size: 4rem;
		line-height: 1.2;
	}

	#proyecto .carousel-control-next-icon,#proyecto .carousel-control-prev-icon{
	width: 6.5rem !important; ;
	height: 6.5rem!important; ;
}

	#proyecto .programa h2{
		font-size: 4rem
	}

		#proyecto .programa p{
		font-size: 3rem;
			line-height: 1.5
	}
	#proyecto #carouselExampleIndicators .carousel-indicators {

	}


}


@media only screen and (min-width: 2304px) and (max-width: 3200px){
	#proyecto .leftarrow{
		font-size: 5rem
	}

	#proyecto .botones a h6{
		font-size: 2rem;
	}

	#proyecto .cover{
		font-size: 3rem;
		line-height: 1.2;
	}

	#proyecto .carousel-control-next-icon,#proyecto .carousel-control-prev-icon{
	width: 5.5rem !important; ;
	height:5.5rem !important; ;
}

	#proyecto .programa h2{
		font-size: 3rem
	}

		#proyecto .programa p{
		font-size: 2rem;
			line-height: 1.5
	}
	#proyecto #carouselExampleIndicators .carousel-indicators {

	}
	}

@media only screen and (min-width: 1760px) and (max-width: 2304px){
	#proyecto .leftarrow{
		font-size: 4rem
	}

	#proyecto .botones a h6{
		font-size: 1.5rem;
	}

	#proyecto .cover{
		font-size: 2.5rem;
		line-height: 1.2;
	}

	#proyecto .carousel-control-next-icon,#proyecto .carousel-control-prev-icon{
	width: 4.5rem !important; ;
	height:4.5rem !important; ;
}

	#proyecto .programa h2{
		font-size: 2.5rem
	}

		#proyecto .programa p{
		font-size: 1.8rem;
			line-height: 1.5
	}
	#proyecto #carouselExampleIndicators .carousel-indicators {

	}
}


@media only screen and (min-width: 1280px) and (max-width: 1760px){

		#proyecto .leftarrow{
		font-size: 3rem
	}

	#proyecto .botones a h6{
		font-size: 1.3rem;
	}

	#proyecto .cover{
		font-size: 2rem;
		line-height: 1.2;
	}

	#proyecto .carousel-control-next-icon,#proyecto .carousel-control-prev-icon{
	width: 3.5rem !important; ;
	height:3.5rem !important; ;
}

	#proyecto .programa h2{
		font-size: 2rem
	}

		#proyecto .programa p{
		font-size: 1.3rem;
			line-height: 1.5
	}
	#proyecto #carouselExampleIndicators .carousel-indicators {

	}

}


@media (min-width: 1200px) {   /*desktop*/
	.wh-img {
		width: 100% !important;
	}

	.logobt{
		top: 30%;
	}


}



@media (max-width: 1199px) {   /*desktop*/
	.logobt{
		top: 22%;
	}

}



@media (max-width: 768px) { /*tablets*/


	#header #logo h1 {
		font-size: 28px;
	}
}